
<div class="text-center">
    <h1>Delivery Company </h1>
    <br>
    <form class="form-horizontal">
        <div class="form-group">
            <h2>Email</h2>
            <div class="col-xs-2 col-sm-3 col-md-4" ></div>
            <div class="col-xs-8 col-sm-6 col-md-4">
                <input class="input-md form-control" type="email" id="email" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <h2>Password</h2>
            <div class="col-xs-2 col-sm-3 col-md-4"></div>
            <div class="col-xs-8 col-sm-6 col-md-4">
                <input class="input-md form-control" type="password" id="password" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember me
                </label>
            </div>
        </div>
        <div class="form-group">
            <a type="button" href="#/list_orders" class="btn btn-default btn-lg">Sign in</a>
        </div>
    </form>
</div>
