

<div class="container">
    <div class="starter-template">
        <div class="page-header"> <h2>Detalhes da Encomenda</h2> </div>

        <div class="panel panel-info detalhes">
            <div class="panel-heading"><b>Data</b></div>
            <div class="panel-body">08/04/2014</div>
            <div class="panel-heading"><b>Fornecedor</b></div>
            <div class="panel-body">fsa</div>
        </div>

        <div class="page-header"> <h4>Listagem de produtos</h4> </div>

        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Descrição</th>
                    <th>Quantidade</th>
                    <th>Quantidade recebida</th>
                    <th>Armazém</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>PC</td>
                    <td>10</td>
                    <td>8</td>
                    <td>A1</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Rato</td>
                    <td>3</td>
                    <td>3</td>
                    <td>A1</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Teclado</td>
                    <td>5</td>
                    <td>5</td>
                    <td>A1</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>PC</td>
                    <td>10</td>
                    <td>9</td>
                    <td>A2</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Rato</td>
                    <td>3</td>
                    <td>1</td>
                    <td>A2</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="page-header"></div>
        <div>
            <button type="button" class="btn btn-info">Confirmar encomenda</button>
        </div>
    </div>
</div><!-- /.container -->