<div class="alert alert-success alert-dismissible" role="alert" ng-if="error == 1">
    <b>Sucesso!</b>
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</div>

<div class="container">
    <div class="starter-template" ng-controller="OrderInfoCtrl">

        <a href="#/list_orders" class="btn btn-link btn-md pull-left">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true" style="color: blue"></span>
        </a>

        <div class="page-header"> <h2>Detalhes da Encomenda {{orderInfo.NumDoc}}</h2></div>

        <div class="panel panel-info detalhes">
            <div class="panel-heading"><b>Data</b></div>
            <div class="panel-body">{{orderInfo.Data | date : 'dd/MM/yyyy'}}</div>
            <div class="panel-heading"><b>Fornecedor</b></div>
            <div class="panel-body">{{orderInfo.Entidade}}</div>
        </div>

        <div class="page-header"> <h4>Listagem de produtos</h4> </div>

        <form name="myForm" ng-submit="submitOrder()">

            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Armazém</th>
                            <th>Descrição</th>
                            <th>Quantidade</th>
                            <th>Quantidade recebida</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="products in orderInfo.LinhasDoc | orderBy : p.desc:reverse">
                            <td>{{products.CodArtigo}}</td>
                            <td>{{products.Armazem}}</td>
                            <td>{{products.DescArtigo}}</td>
                            <td>{{products.QuantidadeAux}}</td>
                            <td class="col-xs-2"> <input class="input-md form-control" ng-model="products.QuantidadeRecebida" name="qtdField" type="number" id="qtdFrom{{p.id}}" value="0" min="0" max="{{products.QuantidadeAux}}" required></td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <div class="page-header"></div>
            <div class="pull-right">
                <button type="submit" class="btn btn-info">Submeter Artigos</button>
            </div>

        </form>


    </div>
</div><!-- /.container -->

<div class="modal fade" id="SubmitSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="OrderInfoCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">Operação concluida com sucesso! </h4>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-success btn-lg center-block" ng-click="returnListOrders()">
                    Página Encomendas
                </button>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="SubmitError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="OrderInfoCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">Operação falhou! Tente mais tarde</h4>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-danger btn-lg center-block" ng-click="returnListOrders()">
                    Página Encomendas
                </button>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>